body {
  background-color: black;
}

#content {
  margin-left: 25%;
  margin-top: 25%;
}

h3 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
  position: center
}

li {
  text-align: center;
  color: white;
  list-style-type: none;
}

li::before {
  content: "--- ";
}

li::after {
  content: " ---";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}