body {
  background-color: black;
}

#content {
  margin-left: 25%;
  height: 50%;
}

h3 {
  text-align: center;
  color: white;
}

p {
  margin-left: 25%;
  text-align: center;
  color: white;
  position: center
}

ul {
  margin-left: 25%;
}

li {
  text-align: center;
  color: white;
  list-style-type: none;
}

li::before {
  content: "--- ";
}

li::after {
  content: " ---";
}

img {
  margin-left: 25%;
  border-radius: 10%;
  width: 35%;
  height: auto;
}